@{
    ViewBag.Title = "Home Page";
}
<header class="">
    <div class="logo">
       <a href="#">ACE AMAZING RACE</a>
        <h3><em>one Team one Mission</em></h3>
        <hr class="line-1">
    </div>
</header>
<div class="jumbotron" style="padding: 10px 50px;">
    <h2><em>ACE - Ideas of Amazing Race Challenges</em></h2>
    <p class="text-indention">
        <em>
        <small>
            A new startup company that tries to combine fun, health, and team bonding together. ACE
            business model is to organize paid event where participants will play a game like <a target="_blank" href="https://en.wikipedia.org/wiki/The_Amazing_Race">Amazing Race</a>
            within a pre-allocated city. We are very keen in using technology to augment and make the experience more fun and enjoyable.
        </small>
        </em>
    </p>
    <p class="text-indention">
        <em>
            <small>
                In an event, each team is given a series of clues which leads to a pit stop. At the pit stop, the team
                need to complete a task to clear that pit stops. Once they clear a pit stop, they will be given another
                clue that will lead to the next pit stop. The first team who cleared the last pit stop the fastest would
                win the game.
            </small>
        </em>
    </p>
</div>
