@model AceAmazingRace.ViewModels.PitStopViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create PitStop</h2>

<p>To be continued...</p>
<p>Race Event Id is @Model.RaceEvent.Id</p>
